*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.main{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    padding: 2.5rem;
    border-radius: 15px;
    width: 30rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    color: hsl(224, 30%, 27%);
    height: 50vh;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(241, 81%, 54%);
    border-radius: 15px;
    color: hsl(241, 100%, 89%);
    z-index: 2;
}
.right{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 15px 15px 0;
    margin-left: -15px;
    z-index: 1;
}
.main h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.main h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.main p{
    font-size: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
}
.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(241, 81%, 54%);
    box-shadow:inset 0px 4px 40px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}
.circle h1{
    font-size: 3rem;
    text-align: center;
    margin: 0;
    color: hsl(0, 0%, 100%);
}   

.circle p{
    font-size: 1rem;
    text-align: center;
    margin-top: 0;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 1rem;
    margin: 0.4rem;
    width: 90%;
}
.reaction{
    background-color: hsl(0, 79%, 96%);
}
.red{
    color: hsl(0, 100%, 67%);
}

.memory{
    background-color: hsl(39, 56%, 93%);
}
.yellow{
    color: hsl(39, 100%, 56%);
}
.verbal{
    background-color: hsl(166, 85%, 95%);
}
.green{
    color: hsl(166, 100%, 38%);
}
.visual{
    background-color: hsl(236, 73%, 96%);
}
.blue{
    color: hsl(234, 85%, 45%);
}

.continue{
    justify-content: center;
    background-color: hsl(224, 30%, 27%);
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
}
.continue:active{
    background-color: hsl(252, 100%, 67%);
}
.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
}  
@media (min-width: 768px) and (max-width: 1024px) {
    main{
        flex-direction: column;
        margin: 2rem;
    }
    .main{
        max-width: 80%;
        height: auto;
    }
    .left{
        width: 100%;
        height: auto;
        z-index: 2;
    }
    .right{
        margin: auto;
        border-radius: 0 0 15px 15px;
        width: 100%;
        height: auto;
        margin-top: -15px;
        z-index: 1;
    }
}
@media (max-width: 767px) {
    main{
        flex-direction: column;
        margin: 2rem;
    }
    .main{
        width: 100%;
        height: auto;
    }
    .left{
        width: 100%;
        height: auto;
        z-index: 2;
    }
    .right{
        margin: auto;
        border-radius: 0 0 15px 15px;
        width: 100%;
        height: auto;
        margin-top: -15px;
        z-index: 1;
    }
    .right h3{
        font-size: 0.7rem;
    }
    .main h1{
        font-size: 1.7rem;
    }
    .circle{
        width: 8rem;
        height: 8rem;
    }
}